<h1>Info!</h1>

<h2>Question!</h2>

<ul>
  {{#each question}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Answer!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add question </h2>
<form class="create-form">

  <div class="form-group">
    <label for="q">Question:</label>
    <input type="text" id="q" name="name">
  </div>

  <div class="form-group">
    <label for="Ans">Answer</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Question</button>
</form>
