
  /* #main container{
    width:1020px;
   */
    

    .img{
    margin: 0 auto;  
  } 

    .sidebar{
      background:inherit;
      padding:30px;
      width:267px;
      max-width:270px;
      float: right;
      /* border: 1px solid #6c757d;
      margin-right: 20px; */
    }
    .sidebar1{
      background:inherit;
      padding:30px;
      width:267px;
      max-width:270px;
      float: left; 
      
    }

    #a{
      clear : both;
      margin-top: 10px;
      float: right;
      margin-right:25px;
    }

/* footer {
  clear : both;
  padding : 5px;
  margin-top : 5px;
  height : 5px;
  font-size : 0.8em;
  /* border-top : 1px solid #6c757d; */
  /* color :inherit;
  background : inherit;
  }
  footer a:link, #footer a:visited {
  background : inherit;
  color : #6c757d;
  text-decoration : none;
  }
  footer a:hover {
  border-bottom : 1px dashed #6c757d;
  background : inherit;
  color : #6c757d;
  } */ 
  

 /* a-refresh-animate {
    animation-name: rotateThis;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
  } */
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 150px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    border: 1px solid #6c757d;
    background-color:inherit;
    text-align: center;
  }
  
  .container{
    margin-top: 50px;
    color: #fff;
    width: 100%;
  }
  
  .fa-twitter {
      color: #4099FF;
  }
  
  .fa-facebook {
      color: #3B5998;
  }
  
  .fa-youtube-play {
      color: #e52d27;
  }
  
  .fa-gitHub {
      color: black;
  }
  
  .fa-linkedin {
      color: #007bb6;
  }
  
  .fa {
      opacity: 0.7;
      transition: 1s;
      -webkit-transition: 1s;
  }
  
  .fa:hover{
      opacity: 1;
      transition: 1s;
      -webkit-transition: 1s;
  }