
  .thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

    h1{
        font-size: 60px;
    }

   body {
     background-color:#001900
  }

   #main-container{
      width: auto;
  } 
  .search-bar {
    width: 900px;
  }
    
    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
      
      .Absolute-Center.is-Responsive {
        width: 50%; 
        height: 50%;
        min-width: 950;
        max-width: 950px;
        padding: 40px;
      }
      
      #logo-container1{
        margin: auto;
        margin-bottom: 10px;
        width:950px;
        height:400px;
      }

    .form-inline 
     {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center }
       p {
        margin: 0 }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height:5%;
            background-color:#001900;
            color: white;
            text-align: left;
            margin: 0;
         }

   

/* CSS for Credit Card Payment form */
/* .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
} */
/* .credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
} */
/* .credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
} */
/* .credit-card-box label {
    display: block;
} */
/* The old "center div vertically" hack */
/* .credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
} */
/* Just looks nicer */
/* .credit-card-box .panel-heading img {
    min-width: 180px;
}  */

/* new navbar */
/*scroll effect*/
/* .navbar-trans {
    background-color: transparent;
    border: none;
    transition: top 1s ease;
  }
   
  /*  */
  body{
    font-family: 'Raleway', sans-serif;
  }
  
  footer{
      background-color:whitesmoke;
      padding: 60px 0px;
  }
  
  footer ul{
      list-style:none;
      margin:0 auto;
      display:inline-block;
      padding-top:50px;
  }
  
  footer ul li{
      float:left;
  }
  
  footer ul li a{
      color:#b1aca1;
      padding:25px;
  }
  
  footer ul li a:hover{
      color:#dee2ca;
      text-decoration:none;
  }
  
  .footer-top{
      padding-bottom:50px;
  }
  
  .footer-top .fa{
      font-size:18px;
      color: black;
      padding-right:10px;
  }
  
  .footer-top a{
      color:black;
      text-decoration:none;
  }
  
  .footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
      color:#7dabdb;
  }
  
  .copyright{
      background-color:inherit;
  }
  
  .copyright p{
      font-size:12px;
      padding:15px 0 10px 0;
      position: absolute;

  }