
   .jumbotron{
    color:#001900;
    /* background-color:none !important; */
    }

    h1{
        font-size: 60px;
    }

   body {
    background: url(/Users/nicolecooper/infoBank/public/image/403d21c4a993c6befb4b058833a3119d.png);
  }

   #main-container{
      width: 940px;
  } 
    
    .Absolute-Center {
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
      
      .Absolute-Center.is-Responsive {
        width: 50%; 
        height: 50%;
        min-width: 700px;
        max-width: 650px;
        padding: 40px;
      }
      
      #logo-container1{
        margin: auto;
        margin-bottom: 10px;
        width:700px;
        height:30px;
      }

    .form-inline 
     {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center }
       p {
        margin: 0 }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height:5%;
            background-color:#001900;
            color: white;
            text-align: left;
            margin: 0;
         }

   

/* CSS for Credit Card Payment form */
/* .credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
} */
/* .credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
} */
/* .credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
} */
/* .credit-card-box label {
    display: block;
} */
/* The old "center div vertically" hack */
/* .credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
} */
/* Just looks nicer */
/* .credit-card-box .panel-heading img {
    min-width: 180px;
}  */